/*

#808080 	(128,128,128)
#848482 	(132,132,130)
#757575 	(117,117,117)
#696969 	(105,105,105)
#555555 	(85,85,85)
http://www.color-hex.com/color-palette/1409

*/
.header	{
	background-color: #333333;
	height: 40px;
}


body {
	font-family: 'Lato', sans-serif;
	/*background:url(../img/lines.png) no-repeat 200px 430px;*/
	background-color: #555555;
}

._header {
	background-color: #58FFFF;
	height: 25px;
}

._title {
	background-color: #757575;
}

.content_trans {
	padding-left: 20px;
}

.content_grey {
	margin-top: 30px;
	background-color: #757575;
	padding-left: 20px;
	height: 300px;
}

/*
---------------------------------------
TYPOGRAPHY
---------------------------------------
*/

.__title-headline {
	font-size: 3em;
	font-weight: 300;
	padding-left: 20px;
}

.name {
	font-size: 2.5rem;
	color: white;
	font-variant: small-caps;
	letter-spacing: 2px;
	padding-left: 20px;
	padding-top: 40px;

}
.name_subtext {
	padding-top: 20px;
	color: white;
}
.name_tagline {
	font-size: 1.5rem;
	padding-left: 20px;
	font-variant: small-caps;
}
.__name_tagline_description {
	font-size: 1.8rem;
	color: white;
}
.__name_tagline_training {
	color: white;
}
.__name_tagline_training_blue {
	color: #58FFFF
}
