/*

#808080 	(128,128,128)
#848482 	(132,132,130)
#757575 	(117,117,117)
#696969 	(105,105,105)
#555555 	(85,85,85)
http://www.color-hex.com/color-palette/1409


/*
----------------------------------
HEADER
----------------------------------
*/
.header	{
	background-color: #333333;
	height: 40px;


}

.box11-holder {

  float: right;
  margin-right: 5%;
  margin-top: 7%;
  transform: rotate(-4deg);
}


.box11{
  width:380px;
  height:320px;
  background-color:white;
  margin:25px 15px;
  border-radius:5px;


}


.box22{
  background-color: #EDE89A;
}


.shadow22 {
  position:relative;
}
.shadow22{
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}


/****************************************************************
*styling shadows
****************************************************************/


.shadow22:before{
  position:absolute;
  content:"";
  width:80%;
  top:140px;bottom:22px;left:20px;
  background-color:#9F8641;
  z-index:-1;
  -webkit-box-shadow:0 23px 17px 0 #9F8641;
  -moz-box-shadow:0 23px 17px 0 #9F8641;
  box-shadow: 0 23px 17px 0 #9F8641;
  -webkit-transform:rotate(-4deg);
  -moz-transform:rotate(-4deg);
  transform:rotate(-4deg);
}



.lacing-holder-top {
  float: right;
  padding-top: 2%;
  transform: rotate(+10deg);
}





/*
----------------------------------------------------
POST-IT's
----------------------------------------------------
*/

.postit-cv-holder {
  position: absolute;
  right: -40%;
  top: 20%;
  transform: rotate(2deg);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
/*
SHADOW
*/



/*._postit-cv {
  width: 380px;
  height: 320px;
  background-color: white;
*/
}

.nav-holder {
  height: 400px;
  width: 400px;
  /*background-color: #131313;*/
  background-color: #2D2D2D;
  opacity: 0.5;
  position: absolute;
  top: 100%;
  right: 2%;
  box-shadow: inset 0 -20px 10px -10px #1A1C1D;


}

/*
----------------------------------
BODY
----------------------------------
*/
.container {
  background: white;
/*  padding: 35px 30px 45px 30px; */
  margin-bottom: 200px;
/*  margin-top: 50px; */
  margin-left: 15px;
/*  background: url(../img/paper2.jpg) no-repeat center center fixed; */
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;

}




.lacing-holder {
  position: relative;
  top: 15%;
  right:2%;
  transform: translateY(-120%);
}

body {
	font-family: 'Lato', sans-serif;
 /*background: url(../img/poster.jpg) no-repeat center center fixed;*/
  background-color: #393939;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

._header {
	background-color: #58FFFF;
	height: 30px;
  margin-bottom: 50px;



}

._title {
	background-color: #1D1D1D;
  height: 620px;
  position: relative;
  background: url(../img/back1_small.png) no-repeat;
  background-size: cover;
}





/*
--------------------------------------
STAPLE EFFECT
--------------------------------------
*/

#lacing {
  /*border: 1px solid #ccc;*/
  border-radius: 4px;
  box-shadow: inset 2px 0 5px -1px #666, inset -3px 0 5px -1px #666, 1px 1px 3px #666;
  background: #fff;
  display: inline-block;
  height: 4px;
  margin: 5px 20px 0;
  position: relative;
  width: 40px;
  /*z-index: 1000;*/
}
#lacing:before,
#lacing:after {
  /*background: #f00;*/
  border: 1px solid #999;
  border-radius: 50%;
  box-shadow: inset 2px 2px 12px #333;
  content: "";
  display: block;
  height: 6px;
  position: absolute;
  width: 6px;
  z-index: -1000;
}
#lacing:before {
  left: -3px;
  top: -2px;
}
#lacing:after {
  right: -3px;
  top: -2px;
}

/*
-----------------------------------------------------
MAIN CONTENT
-----------------------------------------------------
*/

.content_trans {
	padding-left: 20px;
  background-color: #2D2D2D;
  padding-bottom: 50px;
  box-shadow: inset 0 -20px 10px -10px #1A1C1D;
}

.content_grey {
	background-color: #333333;
	padding-left: 20px;
	height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 500px;

}

/*
---------------------------------------
TYPOGRAPHY
---------------------------------------
*/

.__title-headline {
  position: absolute;
  top: 33%;
  transform: translateY(-50%);
	font-size: 5.5rem;
	font-weight: 300;
	padding-left: 20px;
}

.name {
	font-size: 2.5rem;
	color: white;
	font-variant: small-caps;
	letter-spacing: 2px;
	padding-left: 20px;
	padding-top: 40px;

}
.name_subtext {
	padding-top: 20px;
	color: white;
	font-size: 1.5rem;
	padding-left: 20px;
	font-variant: small-caps;
}
.__name_tagline_description {
	font-size: 1.8rem;
	color: white;
}
.__name_tagline_training {
	color: white;
}
.__name_tagline_training_blue {
	color: #58FFFF
}

/*
---------------------------------------------
POST IT TEXTS
---------------------------------------------
*/
.post-it-text-yellow {

  float: left;
}

.post-it-content-holder {
  padding-top: 10px;
  padding-left: 15px;
}

._post-it-header {
  font-size: 4.5rem;
}

/*
---------------------------------------
PORTFOLIO CONTENT
---------------------------------------
*/

._portfolio_header {
	font-size: 2.5rem;
	color: #848482;
	font-variant: small-caps;
	letter-spacing: 2px;
  background: #C3FC7B;

}


._portfolio-content {
  padding-left: 35px;
}

.portfolio-content-header {
  font-size: 2.5rem;
  font-variant: small-caps;
  color: #C3FC7B;
}


/*
---------------------------------------
PORTFOLIO LIST STYLE
---------------------------------------
*/

._portfolio-links {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  font-variant: small-caps;
  font-size: 2rem;
}

ul#portfolio-nav {
    list-style-type:none;
    margin-top: 30px;
    padding-left: 0px;
    color: white;

}

li.even {
  background-color: #D3005D;
}
li.odd {
  background-color: #58FFFF;
}

/*
---------------------------------------------
CONTACT FORM
---------------------------------------------
*/
